/*
      Main
*/
html{
  // background-color: #f7f7f7;
  background-color: #2d7c2d;
}
body {
  width: 85%;
  height: 100px;
  margin: auto;
  margin-top:20px;
  font-family: 'Source Sans Pro', sans-serif, Neue;
  font-size: 100%;
  font-style: normal;
  background-color: white;
}
.main{
  max-width: 1600px;

}


/*
      Header, Nav Bar
*/
header{
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-bottom:3px;
}
.header-link{
  font-size:30px;
  margin: auto 40px;
}
.login-signup{
  margin: auto 40px;
  font-size: 15px;
}
.login-signup > a{
  margin: 0 5px;
  height: 100%;
  padding: 4px 15px 6px 15px;
  font-weight: 300;
  font-size: 15px;
}
.login-signup > a:first-child{
  background: #237B98;
  border-radius: 3px;
  color:white;
}
.header-sessions{
  margin: auto 0;
}
.header-group {
  display: flex;
  margin: 0 20px;
  font-weight: 400;
 
  *{
    margin:0 10px;
  }
}


/*
      Background Image
*/
.main-bg{
  background-image: url('backgrounds/main-bg.jpg');
  // background-size: 100%;
  background-size: 100% 370px;
  height: 370px;
  background-repeat: no-repeat;
}

/*
      Font Awesome Style
*/

.login-form-box i {
  margin-top: 4px;
  font-size: 20px !important;
  float: right;
  cursor: pointer;
}