/*
      Main
*/
html{
  background-color: #f7f7f7;
  // background-color: #2d7c2d;
}
body {
  -webkit-font-smoothing: antialiased;
  width: 95%;
  // height: 100px;
  margin: auto;
  margin-top:20px;
  font-family: 'Source Sans Pro', sans-serif, Neue;
  font-size: 100%;
  font-style: normal;
  // background-color: white;
}
.main-head{
  background-color:white;

}


/*
  header logo + search
*/
.header-left{
  // width: 200px;
}

.logo{
  background-image: url('logo/one-table-logo.png');
  height: 33px;
  width: 165px;
  background-repeat: no-repeat;
  background-size: 150px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}
.header-search-wrapper{
  display: inline-block;
}

.hidden{
  display: none !important;
}
.search-result{
  position: absolute;
  background: white;
  width: 450px;
  padding: 15px;
  border-radius: 5px;
  margin-left: 13px;
  margin-top:-5px;
  border:1px solid #a8a8a8;
  z-index: 1;
}
.search-result-lists{
  max-height: 275px;
  overflow-y: scroll;
}
.search-result-list{
  font-weight: 400;
  
  font-size: 16px;
  padding: 5px 10px;
  // transition-duration: 0.1s;
  
}
.search-result-list:hover{
  background-color: #d5303b;
  color: white;
  // transition-duration: 0.1s;

}

.header-search{
  border:1px solid #a8a8a8;
  top:-10px;
  border-radius: 16px;
  height: 28px;
  display: inline-flex;
  position: relative; 
  color: #a8a8a8;
  padding-left: 35px;
  width: 160px;
  font-size: 15px;
  transition-duration: 0.3s;
}


.header-search:focus{
  width:250px;
  transition-duration: 0.3s;
}

.header-search::-webkit-input-placeholder {
  color: grey;
  font-size: 15px;
}
.header-location{
  -webkit-text-stroke: 1px #d5303b;
  color: white;
  top:-9px;
  position: relative;
  left:26px;
  -webkit-font-smoothing: antialiased;
  
}


/*
      Header, Nav Bar
*/
header{
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-bottom:3px;
}
.header-link{
  font-size:30px;
  margin: auto 10px auto 40px;
}
.header-name{
  border-left: 1px solid #dddddd;
  line-height: 3.375rem;
  padding: 5px 1rem;
  line-height: inherit;
  color: #616161;
  height: 20px;
  border-radius:0px !important;
  -webkit-font-smoothing: antialiased;


  .fa{
    color: #a8a8a8;
    vertical-align: middle;
    font-size: 25px;
    -webkit-text-stroke: 1px white;
    line-height: 0;
  }
}
.login-signup{
  margin: auto 40px;
  font-size: 15px;
}
.login-signup > a{
  margin: 0 5px;
  height: 100%;
  padding: 4px 15px 6px 15px;
  font-weight: 300;
  font-size: 15px;
}
.login-signup > a:first-child{
  background: #237B98;
  border-radius: 3px;
  color:white;
  font-weight: 500;
}
.header-sessions{
  margin: auto 0;
}
.header-group {
  display: flex;
  
  font-weight: 400;
 
  *{
    margin: 0 5px 0 10px;
  }
}

/*
  Session Dropdown menu
*/

.dropdown{
  // position: relative;
  // display: inline-block;
    
}

.dropdown-content{
  
  width: 220px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  padding: 0;
  margin: 0;
  z-index: 1;
  // transition-duration: 0.5s;
  
  
}

.dropdown-items{
  
  display: flex;
  flex-direction: column;
  margin:0;
  border-radius:0;

  *{
    border-radius:0;
    padding: 12px 5px;
    margin:0;
    color: #666!important;
    display: block;
    padding: .8rem 1rem;
    position: relative;
    font-weight: 300;
    cursor: pointer;
  }

  *:hover{
    z-index:1;
    color: #333!important;
    background: rgba(0,0,0,.03);
  }
}

.show{
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  display: block;
  box-shadow: 0 0 0 0 rgba(0,0,0,.15); 
  top: 69px;
  margin-left:-125px;
  border: 1px solid #dddddd;
  
}

.show:before{  
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 70px;
  top: -6px;
  border-style: solid;
  border-width: 6px;
  border-color: #fff;
  box-shadow: -1px -1px 0 0 rgba(0, 0, 0, .15);
  transform: rotate(45deg);
}

.dropdown:active .dropdown-menu{
  display: block;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


/*
      Background Image
*/
.main-bg{
  background-image: url('backgrounds/main-bg.jpg');
  background-size: cover;
  height: 360px;
  background-position-y: -93px;
  background-repeat: no-repeat;
}

/*
      Font Awesome Style
*/

.login-form-box i {
  margin-top: 4px;
  font-size: 20px !important;
  float: right;
  cursor: pointer;
}