/*
  main content 
*/
.main-body{
  width: 78%;
  max-width: 1200px;
  position: relative;
  top: -135px;
  display: inline-block;
}




/*  
  content block
*/

.content-block{
  display: inline-block;
  max-width: 93%;
  background-color: white;
  padding: 30px 30px 10px 30px;
  border-radius: 5px;
  margin: 15px 35px;
  	

}

.content-block-header{
  font-size: 1.5rem;
  font-weight: 400;
  // color: #7c7c7c;
  margin-bottom: 20px;
  display: inline-block

 
}

.content-block-body{
  margin: 20px 0;
  overflow-y: hidden;
  overflow-x: hidden;  
  height: 226px; //hide scroll bar



  ul{
    min-width: 210px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }  
  
  li{
    display: flex;  
    min-width: 212px;
    height: 210px;
    margin-right: 31px;
    border-radius: 3px;
  }

  h5 {
    margin: auto;
  }
  
  p {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100px;
    display: table-cell;
    text-shadow: rgba(0,0,0, 1) 0 2px 2px;
    font-weight: 700;
  }
}

.paddles{
  float: right;
  // display: inline-flex;
}


.paddle{
  margin-left: 35px;
  font-size: 30px;
  color: #c0c0c0;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}


/*
  Google Map component style
*/
.side-map{
  width: 100%;
  height: inherit;

}

.main-side{
  height: 200px;
  width: 19%;
  margin-left: 40px;
  margin-right: 15px;
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
}

.map{
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

@media screen and (max-width: 1390px) {
  .main-body{
    display: block;
    margin: auto;
  }
  .main-side{
    display:none
  }
  .content-block{
    margin-left:0;
    margin-right:0;
  }
}

@media screen and (min-width: 1100px) {
  .main-body{
    min-width: 1000px;
  }
}

@media screen and (max-width: 1099px) {
  .main-body{
    width: 85%;
  }
  .content-block{
    max-width: 90%;
  }
}