/*
  main content 
*/
.main-body{
  width: 78%;
  max-width: 1200px;
  position: relative;
  top: -135px;
  display: inline-block;
}

.strong-text{
  color: #d5303b;
}



/*  
  content block
*/

.content-block{
  display: inline-block;
  max-width: 90%;
  background-color: white;
  padding: 30px 30px 10px 30px;
  border-radius: 5px;
  margin: 15px 35px;
  width: 100%;
  	

}

.content-block-header{
  font-size: 1.5rem;
  font-weight: 400;
  // color: #7c7c7c;
  margin-bottom: 20px;
  display: inline-block

 
}


.content-block-body{
  height: auto !important;
  margin: 20px 0;
  overflow-y: hidden;
  overflow-x: hidden;  
  // height: 235px; //hide scroll bar



  ul{
    min-width: 210px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }  
  
  li{
    display: flex;  
    min-width: 212px;
    height: 210px;
    margin-right: 31px;
    border-radius: 3px;
  }

  h5 {
    margin: auto;
  }
  
  p {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100px;
    display: table-cell;
    text-shadow: rgba(0,0,0, 1) 0 2px 2px;
    font-weight: 700;

  }
}

.content-search{
  margin: auto;
  border: 1px solid #f0f0f0;
  background-color: white;
  border-radius: 5px;
}

.search-title{
  font-size:2.3rem;
  font-weight: 300;
}

.search-wrapper{
  max-width: 90%;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  background-color: white;
  margin: 15px 35px;
}

.paddles{
  float: right;
  // display: inline-flex;
}


.paddle{
  margin-left: 35px;
  font-size: 30px;
  color: #c0c0c0;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}


/*
  Google Map component style
*/
.side-map{
  width: 100%;
  height: inherit;

}

.main-side{
  height: 200px;
  width: 19%;
  // margin-left: 40px;
  margin-right: 15px;
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
}

.map{
  height: 300px;
  width: 300px;
  border-radius: 5px;
}



/*
  search toolbar style
*/

.main-content-search-tool{
  width: 100%;
}




/*
  Top Cuisines near you
*/

.top-cuisines{
  height: 235px !important; //hide scroll bar
}

/*
  Featured Local Areas
*/

.featured-area{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  img{
    width: 400px;
    height: 200px;
  }
}
.featured-area-items{
  
  width: 50%;
  min-width: 250px !important;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;

}

.fidi{
  background: image-url('areas/fidi.jpg');
  background-size: 100%;
  background-position-y: -40px;
  
}
.soma{
  background: image-url('areas/soma.jpg');
  background-size: 100%;
  
}
.mission{
  background: image-url('areas/mission.jpg');
  background-position-y: -100px;
  background-size: 100%;
}
.japantown{
  background: image-url('areas/japantown.jpg');
  background-position-y: -55px;
  background-size: 100%;
}

.area-items-outer-box{
  background-color: rgba(0,0,0,0.2);
  position: relative;
  transition-duration: 0.1s;
}
.area-items-outer-box:hover{
  background-color: rgba(0,0,0,0);
  position: relative;
  transition-duration: 0.1s;
}


.area-items-inner-box{
  width: 100%;
  text-align: center;
  padding: 75px 0;
  h1{
    color: white;
    font-size: 25px;
    text-shadow: black 0 4px 4px;
  }
  p{
    display: inline;
    text-shadow: none;
    font-weight: 400;
    font-size: 17px;
  }
}

.popular-cuisine{
  ul{
    flex-wrap: wrap;
  }
  li{
    margin:0;
    min-width: 250px;
    width: 33.3%;
  }
}

.popular-list-item{
  min-width: 300px !important;
  width: 100%;
  height: 100%;
}
.popular-inner-wrapper{
  height: 210px !important;
}

.korean{
  // background-position-y: -100px;
  background: image-url('cuisine/korean.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

}
.steakhouse{
  background: image-url('cuisine/steakhouse.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

}
.italian{
background: image-url('cuisine/italian.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.seafood{
background: image-url('cuisine/seafood.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.japanese{
background: image-url('cuisine/japanese.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.american{
background: image-url('cuisine/american.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}






@media screen and (max-width: 1390px) {
  .main-body{
    display: block;
    margin: auto;
  }
  .main-side{
    display:none
  }
  .content-block{
    margin-left:0;
    margin-right:0;
  }
}

@media screen and (min-width: 1100px) {
  .main-body{
    min-width: 1000px;
  }
}



@media screen and (max-width: 1099px) {
  .main-body{
    width: 85%;
  }
  .content-block{
    max-width: 90%;
  }
}