// restaurant detail view main wrapper
.detail-main{
  width: 100%;
}

// restaurant detail view header starts
.detail-header{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  background-image: url('restaurants/detail/rest-view-bg-01.png');
  
}

.detail-header-wrapper{
  padding: 100px 27px 27px 27px;
  width: 92%;
  margin: auto;
  display: flex;

}

.detail-header-image-thumb{
  width: 225px;
  height: 180px;
  padding-right: 30px;
  margin-left: -25px;

  img{
    height: 100%;
  }
}


.detail-restaurant-name{
  color: white;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 10px;
}

.detail-header-rest-info{
  width: 100%;
  margin-left:20px;
}

.detail-item-favorite{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.tool-box-form{
  border-radius: 5px !important;
  border: 1px solid #f0f0f0 !important;
}

.body-main-left-title{
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
}


// restaurant detail view body starts
.detail-body{
  display: flex;
  height: 500px;
}

.detail-body-side{
  width: 250px;
  
}

.detail-body-main{
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.detail-body-main-left{
  
  width: 75%;

}

.detail-body-main-right{
  // margin: auto;
  width: auto;
  margin-left: -82px;
  max-width: 377px;

  
}

.body-side-wrapper{
  margin-top: 40%;
  margin-left: 25%;
  
  a{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.2;
  }
}

.body-main-left-inner-wrapper{
    border-radius: 5px;
    background-color: white;
    width: 80%;
    margin: 25px 0 25px 45px;
    padding: 25px 50px 30px 50px;
}

.main-right-inner-wrapper{
    
    width: 80%;
    margin:15px;
    padding-right:46px;
    padding-left:25px;
    margin-top: 25px;
    margin-left: 30px;
    
}
.side-bar-detail{
  
}

/*
  ratings
*/

.rating-button{
  margin-right: 6px;
}


.rating-form{
  display: flex;

  label{
    margin-top:6px;
    margin-right: 8px;
    font-weight: 300;
    font-size: 0.9em;
  }
}
.rating-buttons{
  margin-top:8px;
  display: flex;
  
}

.review-submit-button{
  text-align: center;
    width: 22%;
    background-color: #d5303b;
    color: white;
    font-weight: 600;
    border-radius: 0 3px 3px 0;
    padding: 5px 10px;
  
    
}

.review-input{
  flex:1;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  margin-left: 5px;
}



/*
  customer search toolbar style
*/

.width-27p{
  width:27% !important;
}

.width-16p{
  width:16% !important;
}

.restaurant-detail-favorite{
  font-size: 12px;
  padding: 5px 5px;
  transition-duration: 0.2s;
  border: 1px solid white;
  border-radius: 3px;
  
  color:white;
}
#empty-heart{
  margin-right:5px;
  color:white;
    font-size: 13px;
  -webkit-text-stroke: 0px;
}

.favorite-toggle{
  cursor: pointer;
}

.restaurant-detail-favorite{
  padding: 5px 15px 5px 15px;
  margin-top: -25px;
}


/*
  sidebar-detail
*/

.sidebar-details{
  font-size: 15px;
  color:#555;
    li{
      margin: 20px 0;
      padding-left: 40px;
    }
}

.sidebar-detail-title{
  font-weight: 600;
}
.sidebar-detail-content{
  position: relative;
  
}
/*
  right side bar icons
*/
.icons{
  position: absolute;
  left: 7px;
  top:8px;
  width: 22px;
  height: 20px;

}
.bell {
  background: image-url('icons/bell.png');
}

.time {
  background: image-url('icons/time.png');
}
.phone {
  background: image-url('icons/phone.png');
}
.website {
  background: image-url('icons/website.png');
  width: 25px;
  height: 27px;
  background-repeat: no-repeat;
}
.url-link-color{
  color: #d5303b;
}
.icons{
 padding-left:3px;
}
.cutlery{
  color: #84b5cd;
  font-size: 1.3rem !important;
}







// restaurant detail view footer starts
.detail-footer{
  margin-top: 600px;
  margin-bottom: 20px;
  
  height: 350px;
    
    width: 100%;

}

/*
  favorite toggle switch
*/

.favorite-active{
  transition-duration: 0.2s;
  color: #d5303b;
  border: 1px solid #d5303b;
  width: 86px;
  padding-right:25px;
  text-align: center;
  i{
    color: #d5303b !important;
  }
}

/*
  restaurant google map
*/

.map{
  width: 100%;
}

/*
  Restaurant Photos
*/

.restaurant-photos-outter{
  
}


.restaurant-photos-inner{
  flex-wrap: wrap;
  img:nth-child(odd){
    margin-left: 3%;
    margin-right:3%;
  }
  img:nth-child(even){
    
    margin-right:3%;
  }
  img{
    display: inline-block;
    width: 45%;
    height: 300px;
    margin-bottom: 10px;
  }
}