.new-restaurant-message{
  h2{
    font-size:40px;
    font-weight: 300;
  }
  p{
    font-size: 30px;
    margin: 10px 0;
    font-weight: 300;
  }
}

.return-to-main{
  margin: 40px auto 5px auto;
  display: block;
  font-weight: 300;
  font-size: 25px;
  width: 350px;
  padding: 5px 0;
}