<!DOCTYPE html>
<html>
  <head>
    <title>Onetable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  

  </head>

  <body>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4VKGXpAIkQDXp9OKJ4W0gy7gkbacEpCk&callback=initMap">
    </script>
    <%= yield %>
  </body>
</html>
